<%= form_for(pool) do |f| %>

<% if pool.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(pool.errors.count, "error") %>
        prohibited this pool from being saved:</h2>

    <ul>
        <% pool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<%= f.label :goal %>
<%= f.number_field :goal %>
<%= f.label :datetime %>
<%= datetime_select("f", "datetime") %>
<%= f.hidden_field :project_id, value: project %>

<%= f.submit 'Create pool', class: "expanded large button" %>


<% end %>
