<div class="callout medium-2">
    Goal
    <%= number_to_currency pool.goal %><br>
    Pledged
    <%= number_to_currency pool.pledged %><br>
    Progress
    <%= number_to_percentage pool.progress %><br>
    Days Left
    <%= pool.days_left %>
</div>

<%= render 'payments/checkout', payment: @payment, pool: @project.pool if current_user != @project.user %>
