<div class="orbit" role="region" aria-label="submenu" data-orbit>
    <ul class="orbit-container orbit-color">
        <button class="orbit-previous"><span class="show-for-sr"></span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr"></span>&#9654;&#xFE0E;</button>

        <li class="is-active orbit-slide">
          <h3>What is the project about?</h3>
            <div class="text-center  callout">
                <% if @project.contents.find_by(kind: 'about') %>
                <p>
                    <%= @project.contents.find_by(kind: 'about').body %>
                </p>
                <% elsif users_project? %>
                <%= render 'contents/form', content: content, project: project, kind: 'about' %>
                <% end %>
            </div>
        </li>

        <li class="orbit-slide">
          <h3>What is some context for the project?</h3>
            <div class="text-center callout">
                <% if @project.contents.find_by(kind: 'context') %>
                <p>
                    <%= @project.contents.find_by(kind: 'context').body %>
                </p>
                <% elsif users_project? %>
                <%= render 'contents/form', content: content, project: project, kind: 'context' %>
                <% end %>
            </div>
        </li>

        <li class="orbit-slide">
          <h3>Why would the project be important?</h3>
            <div class="text-center callout">
                <% if @project.contents.find_by(kind: 'importance') %>
                <p>
                    <%= @project.contents.find_by(kind: 'importance').body %>
                </p>
                <% elsif users_project? %>
                <%= render 'contents/form', content: content, project: project, kind: 'importance' %>
                <% end %>
            </div>
        </li>

        <li class="orbit-slide">
          <h3>What are the projects goals</h3>
            <div class="text-center callout">
                <% if @project.contents.find_by(kind: 'goals') %>
                <p>
                    <%= @project.contents.find_by(kind: 'goals').body %>
                </p>
                <% elsif users_project? %>
                <%= render 'contents/form', content: content, project: project, kind: 'goals' %>
                <% end %>
            </div>
        </li>
    </ul>

    <nav class="orbit-bullets">
        <button class="is-active" data-slide="0">
        </button>
        <button data-slide="1">
        </button>
        <button data-slide="2">
        </button>
        <button data-slide="3">
        </button>
    </nav>

</div>
