<div class="reveal" id="create-bank" data-reveal>

    <%= form_tag stripe_account, id: 'bank-form' do %>

    <%= label_tag "currency" %>
    <input type="text" data-stripe="currency">

    <%= label_tag "country" %>
    <input type="text" data-stripe="country">

    <%= label_tag "account_holder_name" %>
    <input type="text" data-stripe="name">

    <%= label_tag "account_holder_type" %>
    <input type="text" data-stripe="account-holder-type">

    <%= label_tag "routing_number" %>
    <input type="text" data-stripe="routing-number">

    <%= label_tag "account_number" %>
    <input type="text" data-stripe="account-number">


    <%= submit_tag 'submit bank', class: "expanded large button" %>
    <% end %>

</div>

<a data-open="create-bank" class="button">Add your bank</a>
