<div class="reveal" id="create-stripe-account" data-reveal>

    <%= form_for stripe_account do |f| %>
    <%= f.text_field :first_name, placeholder: "first name", class: "text-center"  %>
    <%= f.text_field :last_name, placeholder: "last name", class: "text-center"  %>
    <%= f.number_field :last_4_social, placeholder: "last 4 digits of your social security number", class: "text-center"  %>
    <%= f.label 'please enter your date of birth' %>
    <%= f.date_select :date_of_birth, options = {start_year: Date.today.year - 100, end_year: Date.today.year} %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit 'submit stripe account', class: "expanded large button" %>
    <% end %>

</div>

<a data-open="create-stripe-account" class="button">Create a stripe account</a>
