<%= render 'table' %>


<table>

    <tbody class="row large-up-3">
        <% @projects.each do |project| %>

        <tr class="column">
            <td><%= project.user.username %></td>
            <td><%= project.title %></td>
            <td><%= project.about %></td>
            <td><%= link_to 'Show', project, class: "button" %></td>
        </tr>

        <% end %>
    </tbody>
</table>
