<div class="reveal" id="edit-project" data-reveal>
    <%= form_for(project) do |f| %>

    <% if project.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %>
            prohibited this project from being saved:</h2>

        <ul>
            <% project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :about %>
    <%= f.text_area :about %>

    <%= f.label :context %>
    <%= f.text_area :context %>

    <%= f.label :significance %>
    <%= f.text_area :significance %>

    <%= f.label :goals %>
    <%= f.text_area :goals %>

    <%= f.hidden_field :posted, value: false %>

    <%= submit_tag @tag, name: f, class: 'button expanded', value: 'edit project' %>

    <% end %>
</div>

<a data-open="edit-project" class="button">edit</a>
