<div class="reveal" id="create-project" data-reveal>
    <%= form_for(project) do |f| %>

    <% if project.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %>
            prohibited this project from being saved:</h2>

        <ul>
            <% project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <% if project.postable? %>
    <%= f.label :posted %>
    <%= f.text_field :posted %>
    <% else %>
    <%= f.hidden_field :posted, value: false %>
    <% end %>
    <%= f.submit 'Create project', class: "expanded large button" %>
    <% end %>
</div>

<a data-open="create-project" class="button expanded">Start a new project</a>
