<div class="columns">

<div class="row align-center">
  <%= youtube_frame @project.video %>
</div>

<div class="columns">
<p>
  <strong>User:</strong>
  <%= @project.user.username %>
</p>
<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
<p>
  <strong>About:</strong>
  <%= @project.about %>
</p>
<p>
  <strong>Context:</strong>
  <%= @project.context %>
</p>
<p>
  <strong>Significance:</strong>
  <%= @project.significance %>
</p>
<p>
  <strong>Goals:</strong>
  <%= @project.goals %>
</p>
<p>
  <strong>Posted:</strong>
  <%= @project.posted %>
</p>
</div>

</div>
