<div class="column">
    <% projects.each_slice(3) do |project| %>

    <div class="row align-spaced">

        <% project.each do |pro| %>

        <section class="column small-3" id=<%= pro.id.to_s %>>

            <div class="row">
                <%= image_tag 'galaxy.jpg' %>
            </div>

            <div class="callout row">
                <h3>
                    <%= pro.title %>
                </h3>
                <% if pro.categories.length > 0 %>
                <div class="row align-center">
                    <%= render "categories/labels", project: pro %>
                </div>
                <% end %>
                <div>

                    <%= render 'pools/thumb', pool: pro.pool %>
                </div>
            </div>

        </section>
        <% end %>

    </div>
    <% end %>

</div>
