<div class="row" id="thumb-box">
    <% projects.each do |project| %>

    <div class="callout thumb">
        <div class="">
            <%= project.user.username %>
            <%= project.title %>
            <%= image_tag project.images.first.pic.url if project.images.first%>
            <%= project.about %>
            <%= link_to 'Show', project, class: "button" %>
        </div>
        <div class="">
          <%= render 'pools/thumb', pool: project.pool if project.pool %>
        </div>
    </div>

    <% end %>
</div>
