<p id="notice"><%= notice %></p>

<ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active">
        <a href="#panel1" aria-selected="true">Info</a>
    </li>
    <li class="tabs-title">
        <a href="#panel2">Logs</a>
    </li>
    <li class="tabs-title">
        <a href="#panel3">Fund</a>
    </li>
    <li class="tabs-title">
        <a href="#panel4">Payments</a>
    </li>
    <li class="tabs-title">
        <a href="#panel5">Images</a>
    </li>
</ul>

<div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="panel1">
        <%= render 'info' %>
        <%= render 'form', project: @project, crud: 'Edit project' if current_user == @project.user %>
        <%= render 'videos/form', video: @video, project: @project if users_project? %>
    </div>
    <div class="tabs-panel" id="panel2">
        <div class="medium-2">
            <%= render 'logs/form', log: @log, project: @project if users_project? %>
            <%= render 'logs/list', logs: @logs %>
        </div>
    </div>
    <div class="tabs-panel" id="panel3">
        <% if @project.pool %>
        <%= render 'pools/info', pool: @project.pool %>
        <%= render 'payments/checkout', payment: @payment, pool: @project.pool %>
        <% else %>
        <%= render 'pools/form', pool: @pool, project: @project.id if users_project? %>
        <% end %>
    </div>
    <div class="tabs-panel" id="panel4">
        <%= render 'ledger', payments: @project.pool.payments if @project.pool %>
    </div>
    <div class="tabs-panel" id="panel5">
        <%= render 'images/form', image: @image, project: @project if users_project? %>
        <%= render 'images/list', images: @images %>
    </div>
</div>
