<p id="notice"><%= notice %></p>

<ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active">
        <a href="#panel1" aria-selected="true">Info</a>
    </li>
    <li class="tabs-title">
        <a href="#panel2">Logs</a>
    </li>
    <li class="tabs-title">
        <a href="#panel3">Fund</a>
    </li>
</ul>

<div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="panel1">
        <%= render 'info' %>
        <%= render 'edit-form', project: @project if current_user == @project.user %>
    </div>
    <div class="tabs-panel" id="panel2">
        <div class="medium-2">
            <%= render 'logs/form', log: @log, project: @project if current_user == @project.user %>
            <%= render 'logs/list', logs: @logs %>
        </div>
    </div>
    <div class="tabs-panel" id="panel3">
        <% if @project.pool %>
        <%= render 'pools/info', pool: @project.pool %>
        <% else %>
        <%= render 'pools/form', pool: @pool, project: @project.id %>
        <% end %>
    </div>
</div>
