<div class="callout medium-2">

<%= form_for payment, remote: true do |f|%>

<div id="error_explanation">
    <% if flash[:error].present? %>
    <p><%= flash[:error] %></p>
    <% end %>
</div>

<article>
    <%= label_tag(:amount, 'Donation Amount:') %>
    <%= text_field_tag(:amount) %>
</article>
<article>
    <%= hidden_field_tag(:stripeToken) %>
</article>
<article>
    <%= f.hidden_field(:user_id, value: current_user.id) %>
    <%= f.hidden_field(:pool_id, value: pool.id) %>
</article>
<button id='donateButton'>Donate</button>
<% end %>

</div>
