<div class="reveal" id="create-address" data-reveal>

<%= form_for address do |f| %>
<%= f.text_field :city, placeholder: "city", class: "text-center"  %>
<%= f.text_field :state, placeholder: "state", class: "text-center"  %>
<%= f.text_field :line1, placeholder: "line1", class: "text-center"  %>
<%= f.text_field :line2, placeholder: "line2", class: "text-center"  %>
<%= f.number_field :postal_code, placeholder: "postal_code", class: "text-center"  %>
<%= f.hidden_field :stripe_account_id, value: current_user.stripe_account.id %>
<%= f.submit class: "expanded large button" %>
<% end %>

</div>

<a data-open="create-address" class="button">Address</a>
