<% categories = [['Mathematics', 'Mathematics'], ['Engineering', 'Engineering'],
['Data Science', 'Data Science'], ['Computer Science'], ['Biology'], ['Chemistry'],
['Social Science'], ['Economics'], ['Ecology'], ['Physics'], ['Materials Science'],
['Earth Science'], ['Education'], ['Paleontology'], ['Medicine'], ['Neuroscience'],
['Psychology'], ['Anthropology'], ['Art and Design'], ['Political Science']] %>

<div class="row align-center medium-6">


<%= form_for(category) do |f| %>
<%= f.hidden_field :project_id, value: project.id %>

<%= f.select :science do %>
<% categories.each do |c| %>
<%= content_tag(:option, c.first, value: c.last) %>
<% end %>
<% end %>

<%= f.submit 'add category', class: "expanded large button" %>
<% end %>


</div>
