<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
        <%= stylesheet_link_tag    "application" %>
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <style>
            @import url( 'https://fonts.googleapis.com/css?family=Reem+Kufi');
        </style>

    </head>

    <body>
        <%= render 'layouts/topbar' %>

        <%= yield %>

    </body>
</html>
